# requirements.txt
# boto3==1.34.145
torch==2.4.1
torchvision==0.19.1
sagemaker==2.226.1
sagemaker_training==4.7.4
# scikit-learn==1.5.1
smdebug==1.0.1
# pandas==2.2.2
# numpy==1.26.4
# fsspec==2024.6.0
# matplotlib==3.9.1
# joblib==1.3.2
# mypy_boto3_sagemaker==1.35.0 
# scipy==1.14.1
# pyarrow